@media (min-width: 800px) {
  html {
	font-size: 1.2rem;
  }
}
.dark-only {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .light-only {
	display: none;
  }
  .dark-only {
	display: block;
  }
}

.main-logo {
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1;
}

.services-table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects-table {
  margin-top: 10px;
}
